.message {
  white-space: pre-wrap;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.author {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  word-break: normal;
  text-overflow: ellipsis;
}

.attachment {
  font-size: 1em;
}

.attachment-container {
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.message-object {
  font-size: 1em;
}
