<div *ngIf="message" class="row message-object" [@push]="getState()">

  <div class="col-4 author">
    <i style="color: green" [class]="getIcon()"></i>
    <span [style.color]="message.author.color"><b>{{message.author.author}}</b></span>
  </div>

  <div class="col-8">

    <ng-container *ngIf="!message.delete">
      <div class="attachment-container">
        <ng-container class="attachment-container" *ngFor="let attachment of message.attachments">
          <span class="attachment badge rounded-pill bg-secondary"><i class="bi bi-paperclip"></i>{{attachment}}</span>
        </ng-container>
      </div>

      <div class="message">

        <span *ngIf="message.edit"><i>(edited) </i></span>

        <ng-container *ngFor="let message of message.content">

          <span *ngIf="message.format" [style.color]="message.format.color"><b>{{message.cleanContent}}</b></span>
          <img *ngIf="message.emoji" [alt]="message.emoji.alt" [src]="message.emoji.id" width="20em" height="20em"/>
          <span *ngIf="!message.format">{{message.cleanContent}}</span>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="message.delete">
      <div class="message">
        <i>(deleted)</i>
      </div>
    </ng-container>

  </div>
</div>
