.channel {
  position: absolute;
  background-color: rgba(35, 39, 42, 0.7);
  word-wrap: break-word;
  z-index: 1;
  font-size: xx-large;
}

.message-container {
  line-height: 1.5;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
}

.display {
  color: whitesmoke;
  background-color: #2C2F33;
  position: absolute;
}
