.channel {
  position: absolute;
  background-color: #23272A;
  word-wrap: break-word;
  opacity: 70%;
}

.message-container {
  position: absolute;
  bottom: 0;
}

.display {
  color: whitesmoke;
  background-color: #2C2F33;
  position: absolute;
}
